.bg {
	background-color: #ECE5DB;
}

.white {
	background-color: #FFFFFF;
}
.gray {
	background-color: cccccc;

}
.date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	color: #000000;
	background-color: #FFFFFF;
}
.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
}
.day {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #cccccc;
}
.month {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #cccccc;
}
.welcome {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ccff66;
}
.TopNav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;

}
.TopNav:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.homeText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 14pt;
}

.warningText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #cc0000;
	line-height: 10pt;
}

A {
	color:000000; text-decoration:underline;
	}
	
A.home {
	color:000000; text-decoration:none;
	}
	
.profiletext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #cccccc;
	border: 0;
}

.orange {
	color:#FFff99;
	text-decoration: none;
	}
	
		
.yellow {
	color:#ccff66;
	}
	
.blue {
	color:#6699cc;
	text-decoration: none;
	}
		
.grey {
	background-color:#C4BFBB;
	}
	
/* donate areas */
div.donate {
    background-color: #efa;
    border: solid 1px #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    clear:both;
    margin:0 10 0 10;
    padding:10;
}

td div.donate.sendthemameal {
   height:55px; 
}

td div.donate {
    height: 100px;
}

div.donate_intro {
    margin-bottom:10px;
}

div.donate div.center {
    margin-left:auto;
    margin-right:auto;
    width:65%;
}

div.donate_intro hr {
    border:none;
    height:1px;
    color:#000;
    background-color:#000;
}

h4.donate {
    padding-left:10px;
    margin-bottom:0px;
}
